*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #23282e;
    font-family: 'Roboto Condensed', sans-serif;
}

/* ============== header - start =================*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilePhoto{
    width: 176px;
    height: 176px;
    background-color: #30373f;
    border: 4px solid #06D6A0;
    border-radius: 50%;
    margin: 50px 0 20px;
    position: relative;
    background-image: url("profilePic.png");
    background-size: cover;
}
.profilePhoto::after{
    content: "Eagle V2.0";
    padding: 5px 20px;
    background-color: #30373f;
    color: aliceblue;
    border-radius: 50px;
    border: 1px solid #06D6A0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;
}
.userName{
    background-color: #30373f;
    padding: 10px 20px;
    margin: auto;
    color: #06D6A0;
    font-size: 18px;
}
.description{
    color: #a1a1a1;
    font-size: 16px;
    margin: 20px;
    text-align: center;
}
.contactOptions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactOptions a{
    padding: 5px 25px;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #06D6A0;
    cursor: pointer;
}
.contactOptions a:first-child{
    background-color: #06D6A0;
    color: aliceblue;
}
.contactOptions a:nth-child(2){
    color: #06D6A0;
}
/* ============== header - end =================*/



/* ============== navBar - start =================*/
.navBar{
    width: 90%;
    background-color: #30373f;
    margin: 10px auto;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    color: #a1a1a1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.navBar span{
    cursor: pointer;
}
.navBar span.active{
    color: #06D6A0;
}
.navBar span:hover{
    color: #06D6A0;
}
/* ============== navBar - end =================*/



/* ============== content - start =================*/
.content{
    width: 90%;
    /* for transition - 2 line */
    min-height: 0;
    overflow: hidden;
    background-color: #30373f;
    margin: 0 auto 10px;
    padding: 10px;
    line-height: 1.6;
    transition: min-height 0.3s ease-in-out;
}
.tabContent:not(:first-child) {
    display: none; /* by default tabContents are not displayed except one */
}
#about{
    color: #d1d7df;
}
#about strong{
    color: #5bdfb3;
}
.education-category, .education-category::before{
    background: linear-gradient(#06D6A0, #0d5844);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}
#education p{
    color: #a1a1a1;
    text-indent: 25px;
}
#projects{
    display: flex;
    flex-direction: column;
}
.project{
    background-color: #9affe4;
    border-left: 4px solid #06D6A0;
    margin: 5px 0;
    padding: 5px 15px;
}
#skills{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    padding: 5px 15px;
    /* background-color and border color are selected randomly using javascript */
    /* background-color: hsl(164, 100%, 80%);
    border: 1px solid hsl(164, 94%, 28%); */
    border-radius: 30px;
    margin: 10px 10px;
}
/* ============== navBar - end =================*/



/* ============== ripple effect - start =================*/
/* added using javascript */
.ripple {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: fixed;
    border-radius: 50%;
    border: 1px solid #ffffff59;
}
@keyframes ripple-effect {
    to {
        transform: scale(15);
        opacity: 0.01;
    }
}
/* ============== ripple effect - end =================*/



/* responsive */
@media screen and (min-width: 800px) {
    .navBar, .content{
        width: 70%;
    }
}


